<div class="container-fluid"><div class="row"><div class="col-12 col-md-8 col-xl-6 offset-md-2 offset-xl-3">
    <div class="card" style="background-color: rgba(248, 248, 248, 0.75)">
        <div class="card-body px-5 pt-5 pb-0">
            <h1 class="text-center">Reset Password</h1>
            <hr class="colorgraph">

            <form #resetForm="ngForm" appConfirmPassword (ngSubmit)="resetForm.form.valid && resetPassword(resetForm)">
                <!-- Password and Confirmation -->
                <div class="form-row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-dark text-light">
                                        <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input class="form-control input-lg" type="password" name="password"
                                    [(ngModel)]="resetData.password" #password="ngModel" placeholder="Password"
                                    [ngClass]="{ 'is-invalid': resetForm.submitted && password.invalid }"
                                    minlength="6" required>
                                <div class="invalid-feedback" 
                                    *ngIf="resetForm.submitted && password.invalid && password.errors">
                                    <div *ngIf="password.errors.required">Field is required</div>
                                    <div *ngIf="password.errors.minlength">Password should be at least 6 characters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <input class="form-control input-lg" type="password" name="confirmPassword"
                                [(ngModel)]="resetData.confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password"
                                [ngClass]="{ 'is-invalid': resetForm.submitted 
                                    && (confirmPassword.errors || resetForm.errors)}"
                                required>
                            <div class="invalid-feedback" 
                                *ngIf="resetForm.submitted">
                                <div *ngIf="confirmPassword.errors?.required">Field is required</div>
                                <div *ngIf="resetForm.errors?.noMatch">Both passwords should match</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col-xs-12 col-md-4 offset-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-block btn-lg">
                                <span *ngIf="awaitingResponse" class="spinner-border text-light text-center"></span>
                                <span *ngIf="!awaitingResponse">Reset Password</span>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div *ngIf="alerts" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Warning! </strong>{{alerts}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer d-flex px-5" style="background-color: rgb(128, 128, 128, 0.5)">
            <a class="card-link text-dark mr-2" (click)="returnBackButton()" role="button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <div class="mr-auto">
                <div>Return to Sign-In page:</div>
                <a class="card-link text-decoration-none text-secondary" role="button"
                    (click)="returnBackButton()">
                    Click here</a>
            </div>
        </div>
    </div>
</div></div></div>